<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
		integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
		crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<title></title>
</head>

<body>
	<header>
		<nav class="navbar">
			<a href="/" class="navbar__logo">Logo</a>
			<ul class="navbar__links">
				<li><a href="#">Login</a></li>
				<li><a href="#">Sign Up</a></li>
			</ul>

		</nav>
	</header>