<%- include("./partials/header"); %>

<main class="landing">
    <div class="landing-container">
        <div class="landing--hero">
            <div class="landing--hero__content">
                <h1 class="landing--hero__content--header">your personal vendor rolodex</h1>

                <ul class="landing--hero__content--text">
                    <li>
                        <p>keep a record of your trusted vendors</p>
                    </li>
                    <li>
                        <p>share your vendor network with friends</p>
                    </li>
                    <li>
                        <p>find reliable vendors from friends</p>
                    </li>
                </ul>

                <a href="/signup"><button>Get Started</button></a>
            </div>
        </div>
    </div>
    </div>
</main>

<%- include("./partials/footer"); %>