<%- include("./partials/header"); %>

<main class="login">
    <div class="login-container">
        <div class="form__header">
            <p>Sign in to your account</p>
        </div>

        <form class="form__group login-form" action="/login" method="POST">
            <div class="form-input">
                <label class="form-input__label" for="email">Email</label>
                <input class="form-input__input" type="email" name="email" id="email" required autocomplete="off"
                    autofocus />
            </div>

            <div class="form-input">
                <label class="form-input__label" for="password">Password</label>
                <input class="form-input__input" type="password" name="password" id="password" required
                    autocomplete="off" />
            </div>

            <button class="form-btn" type="submit">Sign in</button>
        </form>
    </div>
    <!--     
    <div class="container login">
        <form class="form__group login-form" action="/login" method="POST">
            <div class="form__header">
                <p>Sign in to your account</p>
            </div>

            <div class="form-input">
                <label class="form-input__label" for="email">Email</label>
                <input class="form-input__input" type="email" name="email" id="email" required autocomplete="off"
                    autofocus />
            </div>

            <div class="form-input">
                <label class="form-input__label" for="password">Password</label>
                <input class="form-input__input" type="password" name="password" id="password" required
                    autocomplete="off" />
            </div>

            <button class="form-btn" type="submit">Sign in</button>
        </form>
    </div> -->
</main>

<%- include("./partials/footer"); %>