<%- include("./partials/header"); %>

<main>
    <div class="form__header">
        <p>Sign in to your account</p>
    </div>

    <form class="form__group" action="#" method="POST">
        <input class="form-input" type="email" name="email" placeholder="Email" required autocomplete="off" autofocus />
        <input class="form-input" type="password" name="password" placeholder="Password" required autocomplete="off" />
        <button class="form-btn" type="submit">Sign in</button>
    </form>
</main>

<%- include("./partials/footer"); %>