body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

    // prevent text in other cells from being highlighted when clicking div
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header, footer {
    align-items: center;
    // background-color: #f9dc5c;
    background-color: lightgrey;
    flex: none;
    display: flex; 
}

header {
    height: 50px;
    padding: 20px;
}

main {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer {
    height: 50px;
    justify-content: center;
    width: 100%;
}

h1, h2, h3 {
    margin: 10px auto;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
    margin: 0 20px;
}

input, button, select, textarea {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 10px;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    border-color: #0366d6;
    box-shadow: 0 0 0 3px rgba(3,102,214,.3);
    outline: none;
}

textarea {
    padding: 10px;
}

label {
    display: inline-block;
    margin: 5px;
}

/* NAV BAR */

.navbar {
    display: flex;
    position: relative;
    width: 100%;
}

.navbar__links {
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
}

/* FORM STYLES */

.form__header {
    text-align: center;
}

.form__group {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px auto;
    padding: 0 20px;
    text-align: center;
    // width: 100%;
}

.form-input {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.form-input__label,
.form-input__input {
    width: 100%;
}

.form-input__label {
    text-align: left;
}

.form-btn {
    cursor: pointer;
    margin-top: 20px;
}

.toggle-panel {
    background-color: #efefef;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.toggle-section {
    display: none;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 10px auto 20px;
}

.form-section__header {
    text-align: left;
    width: 100%;
}

.form-input--checkbox {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}

.form-input--checkbox label {
    margin-left: 5px;
}

textarea {
    width: 100%;
}

.button-group--vendors {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.vendor-services {
    display: flex;
    flex-flow: row wrap;
}

.vendor-btn {
    background-color: white;
    cursor: pointer;
    margin: 5px 10px 5px 0;
}

.vendor-btn:active {
    background-color: #f9dc5c;
}

.vendor-btn:focus {
    outline: none;
}

.section--text {
    text-align: left;
    width: 100%;
}

.column-wrap {
    width: 100%;
}

/* LOGIN FORM */

.login-form label,
.signup-form label {
    text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
    .form-section__col {
        width: 50%;
    }

    .form-input {
        justify-content: flex-start;
        width: 100%;
    }
    
    .login-form,
    .signup-form {
        width: 300px;
    }

    .vendor-form {
        width: 650px;
    }

    .vendor-form input[type=text] {
        width: 80%;
    }
    
    .column-wrap {
        column-count: 2;
    }
}