<%- include("./../../partials/header"); %>

<main>
    <div class="container friends">
        <h2>Friends</h2>
        <a href="/users/friends?show=friends">Friends</a>
        <a href="/users/friends?show=followers">Followers</a>

        <% friends.forEach(friend => { %>
        <div class="friend">
            <%= friend %>
            <form action="/users/friends?_method=DELETE" method="POST">
                <input type="hidden" name="email" value="<%= friend %>">
                <button type="submit">Delete</button>
            </form>
        </div>
        <% }) %>
        <a href="/users/friends/new"><button class="add-btn">+</button></a>
    </div>
</main>

<%- include("./../../partials/footer"); %>