<%- include("./../../partials/header"); %>

<main class="add-friend">
    <div class="add-friend-container">
        <div class="form__header">
            <p>Follow a friend's vendor network</p>
        </div>

        <form class="form__group friend-form" id="friend-form" action="/users/friends" method="POST">
            <div class="form-input">
                <label class="form-input__label" for="email">Friend's Email</label>
                <input class="form-input__input" type="email" name="email" id="email" required autocomplete="off"
                    autofocus />
            </div>

            <button class="form-btn" type="submit">Follow</button>
        </form>
    </div>
</main>

<%- include("./../../partials/footer"); %>